$color-bg: #223;
$card-bg: #334;
$color-primary: #84e;
$color-primary-dark: #52a;
$text-light: #ccc;
$border-radius: 0.5rem;

#classifier {
    background-color: $color-bg;
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .user-info {
        position: fixed;
        top: 15px;
        left: 20px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        color: $text-light;
        transition: 300ms;
        border-bottom: 1px solid transparent;

        &:hover {
            transform: translateY(6px);
            border-bottom: 1px solid #fff;
        }

        svg {
            fill: #000;
            transition: 300ms;
            cursor: pointer;

            &:hover {
                fill: $text-light;
            }
        }
    }

    .classifier-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .classifier-card {
            background-color: $card-bg;
            padding: 25px;
            border-radius: $border-radius;
            box-shadow: 0 4px 15px #0000004d;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 600px;

            #form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                label {
                    font-size: 1.1rem;
                }

                .tab {
                    border-bottom: 1px solid transparent;
                    cursor: pointer;
                    transition: 250ms;
                }

                .tab.active {
                    border-bottom: 2px solid #007bff;
                }

                .tab-content {
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transform: translateY(-50px);
                    transition: 400ms ease;
                }

                .tab-content.active {
                    max-height: 250px;
                    opacity: 1;
                    transform: translateY(0);
                }

                input,
                textarea {
                    width: 100%;
                    padding: 10px 8px;
                    border-radius: $border-radius;
                    border: 1px solid darken($card-bg, 10%);
                    background-color: lighten($card-bg, 5%);
                    color: #fff;
                    font-size: 1rem;
                    transition: 300ms;

                    &:focus {
                        outline: none;
                        background-color: darken($card-bg, 15%);
                    }
                }

                input[type="file"] {
                    color: $text-light;
                }

                button {
                    padding: 12px 24px;
                    background-color: $color-primary;
                    border: none;
                    border-radius: $border-radius;
                    cursor: pointer;
                    font-size: 1rem;
                    transition: transform 0.3s, background-color 0.3s;

                    &:hover {
                        transform: scale(1.05);
                        background-color: $color-primary-dark;
                    }
                }
            }
        }

        .result-table {
            overflow-x: auto;
            width: 75%;

            table {
                border-collapse: collapse;
                background-color: $card-bg;
                border-radius: 0.5rem;
                overflow: hidden;

                th,
                td {
                    padding: 12px 24px;
                    text-align: center;
                }

                thead {
                    background-color: $color-primary-dark;
                    font-weight: 600;
                    font-size: 1.15rem;
                    color: #fff;
                }

                tbody tr {
                    border-bottom: 1px solid #e0e0e0;

                    &:last-child {
                        border-bottom: none;
                    }
                }

                td {
                    color: #fff;
                }
            }

            .category {
                padding: 10px;
                border-radius: 0.5rem;
                font-weight: 600;

                &.produtivo {
                    background-color: #d1fae5;
                    color: #065f46;
                    border: 1px solid #10b981;
                }

                &.improdutivo {
                    background-color: #fee2e2;
                    color: #991b1b;
                    border: 1px solid #ef4444;
                }
            }

            @media (max-width: 600px) {
                table {
                    font-size: 14px;

                    th,
                    td {
                        padding: 10px 8px;
                    }
                }
            }
        }
    }
}

/* Breakpoints para responsividade */
@media (max-width: 992px) {
    // tablets
    #classifier {
        .classifier-content {
            text-align: center;
            h1 {
                font-size: 1.75rem;
            }

            .classifier-card {
                padding: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    // mobile
    #classifier {
        margin-top:5rem ;
        .user-info {
            font-size: 0.9rem;
            top: 0px;
            left: 00px;
            background-color: #0000004d;
            padding: 10px;
            border-radius: 0rem 1rem 1rem 1rem;

            &:hover{
                border-bottom:3px solid #000;
            }
        }

        .classifier-content {
            text-align: center;
            h1 {
                font-size: 1.5rem;
            }

            .classifier-card {
                padding: 15px;
                width: 100%;
            }
        }
    }
}
